In [1]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From C:\Users\ADMIN\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Classification using a fully connected ANN

In [3]:
df = pd.read_csv('Bike Sales Dashboard.csv')

In [4]:
df.head()

,ID,Martial Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Age Brackets,Purchased Bike
0,12496,Married,Female,"$40,000",1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,Middle Age,No
1,24107,Married,Male,"$30,000",3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,Middle Age,No
2,14177,Married,Male,"$80,000",5,Partial College,Professional,No,2,2-5 Miles,Europe,60,Old,No
3,24381,Single,Male,"$70,000",0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Middle Age,Yes
4,25597,Single,Male,"$30,000",0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Middle Age,Yes

# Proprocessing the Data

In [5]:
df.isna().sum()

ID                  0
Martial Status      0
Gender              0
Income              0
Children            0
Education           0
Occupation          0
Home Owner          0
Cars                0
Commute Distance    0
Region              0
Age                 0
Age Brackets        0
Purchased Bike      0
dtype: int64

In [6]:
#There are no NA values.

In [7]:
df = df.drop(columns='ID')

In [8]:
# Remove dollar signs and commas and convert to float
df['Income'] = df['Income'].replace({'\$': '', ',': ''}, regex=True).astype(float)

# Verify the changes
print(df['Income'].head())

0    40000.0
1    30000.0
2    80000.0
3    70000.0
4    30000.0
Name: Income, dtype: float64

In [9]:
cat_col = ['Martial Status', 'Gender', 'Education', 'Occupation', 'Home Owner', 'Commute Distance', 'Region', 'Age Brackets', 'Purchased Bike']
# num_col = ['Income', 'Children', 'Cars', 'Age']

In [10]:
# Encoding catagorical variables using a Label Encoder

for col in cat_col:
    df[col] = LabelEncoder().fit_transform(df[col])

In [11]:
df.head()

,Martial Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Age Brackets,Purchased Bike
0,0,0,40000.0,1,0,4,1,0,0,0,42,1,0
1,0,1,30000.0,3,3,0,1,1,0,0,43,1,0
2,0,1,80000.0,5,3,3,0,2,2,0,60,2,0
3,1,1,70000.0,0,0,3,1,1,3,2,41,1,1
4,1,1,30000.0,0,0,0,0,0,0,0,36,1,1

# Preparing training and testing data

In [12]:
# Splitting the target variable and features

X = df.drop(columns=['Purchased Bike'])
y = df['Purchased Bike']

In [13]:
X_train, X_test, y_train,y_test = train_test_split(X,y, random_state=42, test_size=0.2)

In [14]:
# Ensure X_train is of type float32
X_train = np.array(X_train, dtype=np.float32)
X_test = np.array(X_test, dtype=np.float32)

# Ensure y_train is of type float32
y_train = np.array(y_train, dtype=np.float32)
y_test = np.array(y_test, dtype=np.float32)

# Building and Training an ANN

In [15]:
model = Sequential()
model.add(Dense(6, activation='relu',input_dim = X_train.shape[1])) # Input layer
model.add(Dense(6, activation='relu')) # Hidden layer
model.add(Dense(1, activation='sigmoid')) #Output layer

# Compiling the model

model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics =['accuracy'])

# Training the model

model.fit(X_train, y_train, batch_size=10, epochs=100)

WARNING:tensorflow:From C:\Users\ADMIN\anaconda3\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\ADMIN\anaconda3\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Epoch 1/100
WARNING:tensorflow:From C:\Users\ADMIN\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\ADMIN\anaconda3\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

80/80 [==============================] - 1s 2ms/step - loss: 11471.0947 - accuracy: 0.4837
Epoch 2/100
80/80 [==============================] - 0s 2ms/step - loss: 4664.8320 - accuracy: 0.4837
Epoch 3/100
80/80 [==============================] - 0s 2ms/step - loss: 745.4094 - accuracy: 0.4900
Epoch 4/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6957 - accuracy: 0.5163
Epoch 5/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6955 - accuracy: 0.5163
Epoch 6/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6952 - accuracy: 0.5163
Epoch 7/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6950 - accuracy: 0.5163
Epoch 8/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6947 - accuracy: 0.5163
Epoch 9/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6944 - accuracy: 0.5163
Epoch 10/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6942 - accuracy: 0.5163
Epoch 11/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6940 - accuracy: 0.5163
Epoch 12/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6939 - accuracy: 0.5163
Epoch 13/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6937 - accuracy: 0.5163
Epoch 14/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6935 - accuracy: 0.5163
Epoch 15/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6934 - accuracy: 0.5163
Epoch 16/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6933 - accuracy: 0.5163
Epoch 17/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6932 - accuracy: 0.5163
Epoch 18/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5163
Epoch 19/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6930 - accuracy: 0.5163
Epoch 20/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6929 - accuracy: 0.5163
Epoch 21/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6929 - accuracy: 0.5163
Epoch 22/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6929 - accuracy: 0.5163
Epoch 23/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6928 - accuracy: 0.5163
Epoch 24/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6928 - accuracy: 0.5163
Epoch 25/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6928 - accuracy: 0.5163
Epoch 26/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 27/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 28/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 29/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 30/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 31/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 32/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 33/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 34/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 35/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 36/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 37/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 38/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 39/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 40/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 41/100
80/80 [==============================] - 0s 5ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 42/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 43/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 44/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6928 - accuracy: 0.5163
Epoch 45/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 46/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 47/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 48/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 49/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 50/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 51/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 52/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 53/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 54/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 55/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 56/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 57/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 58/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 59/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 60/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 61/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 62/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 63/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 64/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 65/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 66/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 67/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 68/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6928 - accuracy: 0.5163
Epoch 69/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 70/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 71/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 72/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 73/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 74/100

80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 75/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 76/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 77/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 78/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 79/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 80/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 81/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 82/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 83/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 84/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 85/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 86/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 87/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6928 - accuracy: 0.5163
Epoch 88/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 89/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 90/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 91/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 92/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 93/100
80/80 [==============================] - 0s 4ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 94/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 95/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 96/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 97/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 98/100
80/80 [==============================] - 0s 2ms/step - loss: 0.6928 - accuracy: 0.5163
Epoch 99/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5163
Epoch 100/100
80/80 [==============================] - 0s 3ms/step - loss: 0.6926 - accuracy: 0.5163

# Evaluating the Model

In [16]:
# Predicting the Test set results
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)

print(cm)
print(f'Accuracy: {accuracy}')

7/7 [==============================] - 0s 3ms/step
[[106   0]
 [ 94   0]]
Accuracy: 0.53

# Classification using fully connected ANN

In [61]:
data = pd.read_csv('dress_rental_prices.csv')

In [62]:
data.head()

,Unnamed: 0,ID,Name,Brand,Colour,Catagories,Price
0,0,74416,Runway stripe dress,Stella McCartney,beige,dresses,111
1,1,73815,Reformation Kourtney Dress,Reformation,beige,dresses,50
2,2,73801,Ivory Viola bridal dress,Ghost,beige,dresses,75
3,3,73718,Pasu Dress - Rhino Tusk,Coucoo,beige,dresses,37
4,4,73605,Ellen,RIXO,beige,dresses,47

# Preprocessing

In [63]:
data = data.drop(columns=['Unnamed: 0','ID','Name','Catagories'])

In [64]:
data['Brand'].nunique()

931

In [65]:
data = pd.get_dummies(data, columns=['Brand', 'Colour'], drop_first=True)

In [66]:
data.head(5)

,Price,Brand_& Other Stories,Brand_1017 ALYX 9SM,Brand_12 storeez,Brand_16ARLINGTON,Brand_3.1 Phillip Lim,Brand_A Star is Born,Brand_A.L.C,Brand_A.P.C.,Brand_A.W.A.K.E.,...,Colour_navy,Colour_orange,Colour_phantom,Colour_pink,Colour_purple,Colour_red,Colour_silver,Colour_tan,Colour_white,Colour_yellow
0,111,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,50,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,75,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,37,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,47,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
X = data.drop('Price', axis=1)
y = data['Price']



# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Building and Training the ANN

In [68]:
model = Sequential()

model.add(Dense(64, activation='relu', input_dim=X_train.shape[1])) #Input layer

model.add(Dense(64, activation='relu')) #Hidden layer

model.add(Dense(32, activation='relu')) #Hidden layer

model.add(Dense(1)) #Output

# Compiling the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_absolute_error'])

# Training the model
model.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
750/750 [==============================] - 3s 3ms/step - loss: 1476.6042 - mean_absolute_error: 23.3236
Epoch 2/100
750/750 [==============================] - 2s 3ms/step - loss: 854.1257 - mean_absolute_error: 16.7565
Epoch 3/100
750/750 [==============================] - 2s 3ms/step - loss: 805.4951 - mean_absolute_error: 16.1014
Epoch 4/100
750/750 [==============================] - 2s 3ms/step - loss: 779.8017 - mean_absolute_error: 15.8966
Epoch 5/100
750/750 [==============================] - 2s 3ms/step - loss: 763.1649 - mean_absolute_error: 15.7039
Epoch 6/100
750/750 [==============================] - 2s 3ms/step - loss: 751.5320 - mean_absolute_error: 15.6083
Epoch 7/100
750/750 [==============================] - 2s 3ms/step - loss: 741.0058 - mean_absolute_error: 15.5018
Epoch 8/100
750/750 [==============================] - 2s 3ms/step - loss: 728.0424 - mean_absolute_error: 15.3838
Epoch 9/100
750/750 [==============================] - 2s 3ms/step - loss: 721.0499 - mean_absolute_error: 15.3492
Epoch 10/100
750/750 [==============================] - 2s 3ms/step - loss: 711.5637 - mean_absolute_error: 15.2667
Epoch 11/100
750/750 [==============================] - 3s 4ms/step - loss: 705.0416 - mean_absolute_error: 15.2698
Epoch 12/100
750/750 [==============================] - 3s 3ms/step - loss: 696.4461 - mean_absolute_error: 15.1012
Epoch 13/100
750/750 [==============================] - 3s 3ms/step - loss: 692.0334 - mean_absolute_error: 15.1034
Epoch 14/100
750/750 [==============================] - 3s 3ms/step - loss: 683.6559 - mean_absolute_error: 15.0276
Epoch 15/100
750/750 [==============================] - 3s 3ms/step - loss: 676.6407 - mean_absolute_error: 14.9184
Epoch 16/100
750/750 [==============================] - 2s 3ms/step - loss: 672.7353 - mean_absolute_error: 14.8995
Epoch 17/100
750/750 [==============================] - 3s 3ms/step - loss: 667.1146 - mean_absolute_error: 14.8448
Epoch 18/100
750/750 [==============================] - 2s 3ms/step - loss: 661.5204 - mean_absolute_error: 14.7772
Epoch 19/100
750/750 [==============================] - 2s 3ms/step - loss: 660.2744 - mean_absolute_error: 14.8106
Epoch 20/100
750/750 [==============================] - 3s 3ms/step - loss: 654.1335 - mean_absolute_error: 14.7298
Epoch 21/100
750/750 [==============================] - 3s 4ms/step - loss: 649.4492 - mean_absolute_error: 14.7169
Epoch 22/100
750/750 [==============================] - 2s 3ms/step - loss: 646.4925 - mean_absolute_error: 14.6554
Epoch 23/100
750/750 [==============================] - 3s 5ms/step - loss: 642.7292 - mean_absolute_error: 14.6255
Epoch 24/100
750/750 [==============================] - 3s 4ms/step - loss: 641.2093 - mean_absolute_error: 14.5699
Epoch 25/100
750/750 [==============================] - 4s 6ms/step - loss: 637.3056 - mean_absolute_error: 14.5695
Epoch 26/100
750/750 [==============================] - 3s 4ms/step - loss: 634.5881 - mean_absolute_error: 14.5212
Epoch 27/100
750/750 [==============================] - 3s 4ms/step - loss: 633.4337 - mean_absolute_error: 14.5105
Epoch 28/100
750/750 [==============================] - 3s 5ms/step - loss: 628.8596 - mean_absolute_error: 14.4552
Epoch 29/100
750/750 [==============================] - 3s 4ms/step - loss: 627.8604 - mean_absolute_error: 14.4562
Epoch 30/100
750/750 [==============================] - 4s 5ms/step - loss: 624.7478 - mean_absolute_error: 14.4176
Epoch 31/100
750/750 [==============================] - 3s 5ms/step - loss: 621.2544 - mean_absolute_error: 14.3716
Epoch 32/100
750/750 [==============================] - 3s 5ms/step - loss: 620.4135 - mean_absolute_error: 14.3735
Epoch 33/100
750/750 [==============================] - 4s 5ms/step - loss: 617.5370 - mean_absolute_error: 14.2845
Epoch 34/100
750/750 [==============================] - 4s 5ms/step - loss: 615.4393 - mean_absolute_error: 14.3092
Epoch 35/100
750/750 [==============================] - 4s 5ms/step - loss: 612.2479 - mean_absolute_error: 14.2904
Epoch 36/100
750/750 [==============================] - 3s 5ms/step - loss: 610.5004 - mean_absolute_error: 14.2711
Epoch 37/100
750/750 [==============================] - 3s 4ms/step - loss: 608.3215 - mean_absolute_error: 14.2357
Epoch 38/100
750/750 [==============================] - 3s 4ms/step - loss: 605.9675 - mean_absolute_error: 14.1820
Epoch 39/100
750/750 [==============================] - 4s 5ms/step - loss: 604.6606 - mean_absolute_error: 14.1985
Epoch 40/100
750/750 [==============================] - 4s 5ms/step - loss: 598.1182 - mean_absolute_error: 14.1354
Epoch 41/100
750/750 [==============================] - 3s 4ms/step - loss: 597.2408 - mean_absolute_error: 14.1084
Epoch 42/100
750/750 [==============================] - 3s 4ms/step - loss: 596.8523 - mean_absolute_error: 14.1053
Epoch 43/100
750/750 [==============================] - 2s 3ms/step - loss: 595.8998 - mean_absolute_error: 14.0857
Epoch 44/100
750/750 [==============================] - 2s 3ms/step - loss: 592.7815 - mean_absolute_error: 14.0441
Epoch 45/100
750/750 [==============================] - 2s 3ms/step - loss: 591.8300 - mean_absolute_error: 14.0239
Epoch 46/100
750/750 [==============================] - 2s 3ms/step - loss: 590.8253 - mean_absolute_error: 14.0440
Epoch 47/100
750/750 [==============================] - 2s 3ms/step - loss: 587.1398 - mean_absolute_error: 13.9353
Epoch 48/100
750/750 [==============================] - 2s 3ms/step - loss: 587.5590 - mean_absolute_error: 13.9584
Epoch 49/100
750/750 [==============================] - 3s 3ms/step - loss: 584.7673 - mean_absolute_error: 13.9857
Epoch 50/100
750/750 [==============================] - 2s 3ms/step - loss: 583.3029 - mean_absolute_error: 13.9617
Epoch 51/100
750/750 [==============================] - 2s 3ms/step - loss: 583.5818 - mean_absolute_error: 13.9271
Epoch 52/100
750/750 [==============================] - 3s 3ms/step - loss: 580.9611 - mean_absolute_error: 13.9045
Epoch 53/100
750/750 [==============================] - 2s 3ms/step - loss: 579.0679 - mean_absolute_error: 13.8424
Epoch 54/100
750/750 [==============================] - 2s 3ms/step - loss: 577.2933 - mean_absolute_error: 13.8434
Epoch 55/100
750/750 [==============================] - 3s 4ms/step - loss: 578.8193 - mean_absolute_error: 13.8596
Epoch 56/100
750/750 [==============================] - 3s 3ms/step - loss: 576.3959 - mean_absolute_error: 13.8233
Epoch 57/100
750/750 [==============================] - 2s 3ms/step - loss: 575.3647 - mean_absolute_error: 13.8360
Epoch 58/100
750/750 [==============================] - 2s 3ms/step - loss: 575.8375 - mean_absolute_error: 13.7952
Epoch 59/100
750/750 [==============================] - 2s 3ms/step - loss: 574.7158 - mean_absolute_error: 13.7842
Epoch 60/100
750/750 [==============================] - 2s 3ms/step - loss: 574.8123 - mean_absolute_error: 13.7936
Epoch 61/100
750/750 [==============================] - 2s 3ms/step - loss: 572.6158 - mean_absolute_error: 13.7913
Epoch 62/100
750/750 [==============================] - 2s 3ms/step - loss: 574.2185 - mean_absolute_error: 13.7405
Epoch 63/100
750/750 [==============================] - 2s 3ms/step - loss: 572.3174 - mean_absolute_error: 13.7575
Epoch 64/100
750/750 [==============================] - 3s 3ms/step - loss: 570.5637 - mean_absolute_error: 13.7032
Epoch 65/100
750/750 [==============================] - 2s 3ms/step - loss: 571.8153 - mean_absolute_error: 13.7193
Epoch 66/100
750/750 [==============================] - 2s 3ms/step - loss: 570.5757 - mean_absolute_error: 13.7229
Epoch 67/100
750/750 [==============================] - 2s 3ms/step - loss: 570.6832 - mean_absolute_error: 13.7186
Epoch 68/100
750/750 [==============================] - 3s 4ms/step - loss: 569.2053 - mean_absolute_error: 13.6923
Epoch 69/100
750/750 [==============================] - 3s 5ms/step - loss: 568.9679 - mean_absolute_error: 13.7344
Epoch 70/100
750/750 [==============================] - 3s 3ms/step - loss: 568.1505 - mean_absolute_error: 13.6662
Epoch 71/100

750/750 [==============================] - 2s 3ms/step - loss: 567.9891 - mean_absolute_error: 13.6640
Epoch 72/100
750/750 [==============================] - 2s 3ms/step - loss: 567.7986 - mean_absolute_error: 13.6386
Epoch 73/100
750/750 [==============================] - 2s 3ms/step - loss: 567.0352 - mean_absolute_error: 13.6838
Epoch 74/100
750/750 [==============================] - 2s 3ms/step - loss: 566.4294 - mean_absolute_error: 13.6483
Epoch 75/100
750/750 [==============================] - 3s 4ms/step - loss: 566.1854 - mean_absolute_error: 13.6483
Epoch 76/100
750/750 [==============================] - 3s 4ms/step - loss: 565.2453 - mean_absolute_error: 13.6142
Epoch 77/100
750/750 [==============================] - 2s 3ms/step - loss: 565.5845 - mean_absolute_error: 13.6561
Epoch 78/100
750/750 [==============================] - 2s 3ms/step - loss: 565.4614 - mean_absolute_error: 13.6121
Epoch 79/100
750/750 [==============================] - 3s 4ms/step - loss: 565.0411 - mean_absolute_error: 13.6342
Epoch 80/100
750/750 [==============================] - 2s 3ms/step - loss: 564.7004 - mean_absolute_error: 13.6350
Epoch 81/100
750/750 [==============================] - 2s 3ms/step - loss: 563.9466 - mean_absolute_error: 13.6113
Epoch 82/100
750/750 [==============================] - 2s 3ms/step - loss: 562.7751 - mean_absolute_error: 13.5705
Epoch 83/100
750/750 [==============================] - 3s 3ms/step - loss: 564.3654 - mean_absolute_error: 13.5961
Epoch 84/100
750/750 [==============================] - 2s 3ms/step - loss: 562.2349 - mean_absolute_error: 13.5835
Epoch 85/100
750/750 [==============================] - 2s 3ms/step - loss: 562.0681 - mean_absolute_error: 13.5747
Epoch 86/100
750/750 [==============================] - 2s 3ms/step - loss: 563.7361 - mean_absolute_error: 13.5608
Epoch 87/100
750/750 [==============================] - 3s 3ms/step - loss: 563.2773 - mean_absolute_error: 13.5961
Epoch 88/100
750/750 [==============================] - 2s 3ms/step - loss: 562.6082 - mean_absolute_error: 13.5550
Epoch 89/100
750/750 [==============================] - 3s 3ms/step - loss: 562.1133 - mean_absolute_error: 13.5573
Epoch 90/100
750/750 [==============================] - 2s 3ms/step - loss: 560.4912 - mean_absolute_error: 13.5404
Epoch 91/100
750/750 [==============================] - 2s 3ms/step - loss: 561.5716 - mean_absolute_error: 13.5661
Epoch 92/100
750/750 [==============================] - 2s 3ms/step - loss: 561.2855 - mean_absolute_error: 13.5087
Epoch 93/100
750/750 [==============================] - 2s 3ms/step - loss: 560.5489 - mean_absolute_error: 13.5195
Epoch 94/100
750/750 [==============================] - 3s 4ms/step - loss: 562.7988 - mean_absolute_error: 13.5650
Epoch 95/100
750/750 [==============================] - 2s 3ms/step - loss: 560.0465 - mean_absolute_error: 13.5334
Epoch 96/100
750/750 [==============================] - 3s 4ms/step - loss: 560.6205 - mean_absolute_error: 13.5448
Epoch 97/100
750/750 [==============================] - 3s 3ms/step - loss: 560.5859 - mean_absolute_error: 13.5177
Epoch 98/100
750/750 [==============================] - 2s 3ms/step - loss: 560.6686 - mean_absolute_error: 13.4985
Epoch 99/100
750/750 [==============================] - 2s 3ms/step - loss: 559.1088 - mean_absolute_error: 13.4883
Epoch 100/100
750/750 [==============================] - 2s 3ms/step - loss: 559.9992 - mean_absolute_error: 13.5253

In [69]:
# Predicting the test set results
y_pred = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')

188/188 [==============================] - 0s 2ms/step
Mean Absolute Error: 17.0199860514005
Mean Squared Error: 851.5502208468116